@import "../../global.scss";

.product{
  height: 100%;
  width: 100%;
  text-align: center;
  background-image: url("../../assets/Wave2.svg");
  
  align-items: center;
  text-align: center;
  position: relative;
  
  
  .productHolder{
    background-color: white;
    width: 80%;
    height: 80%;
    margin-left: 10%;

    @include tablet{
      height: 85%;
    }
    
    @include mobile{
      width: 100%;
      margin-left: 2%;
      margin-right: 2%;
    }
    @include mini{
      height: 90%;
    }

    .holder{
      text-align: center;
      align-items: center;
      align-content: center;

      height: 90%;
      
      

      .right{
        height: 100%;
        width: 35%;
        float: right;
        display: flex;
        margin-right: 5%;
        
        @include mobile{
          height: 70%;
          width: 95%;

        }

        @include mini{
          height: 60%;
        }

        p{
          display: flex;
          white-space:pre-line;
          font-size: 20px;
          font-family: 'Sora', sans-serif;
          line-height: 45px;
          margin-bottom: 10px;

          @include notebook{
            line-height: 38px;
            font-size: 16px;
          }
          @include tablet{
              font-size: 15px;
              line-height: 35px;
          }
          @include mobile{
            line-height: 32px;
          }
 
          @include mini{
            font-size: 11px;
            
          }

        }
      }
      .left{
        height: 100%;
        width: 60%;
        float: left;
        position: relative;
    
        @include mobile{
          height: 30%;
          width: 100%;
          margin: 0;
        }

        @include mini{
          height: 40%;
        }
        img{
          float: none;
          max-width: 100%;
          max-height: 100%;
          min-width: 50%;
          min-height: auto;
        }
      }      
    }
  }
  .productH1classname{
    margin-top: 1%;
    @include mini{
      margin-top: 0;
    }

    h1{
      font-family: 'Sora', sans-serif;
      @include mini{
        font-size: 22px;
      }
    }
  }
  .icons{
    height: 20%;
    background-color: $mainColor;
    background-image: url("../../assets/waveGreen.svg");
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    @include tablet{
      height: 15%;
    }
    @include mini{
      height: 10%;
    }
    
    .afiliate{
      margin-top: 10%;
      margin-right: 5%;
      padding: 20px 30px;
      background-color: white;
      border-radius: 9999px;
      font-family: 'Sora',sans-serif;
      box-shadow: 3px 3px black;
      color: black;
      text-decoration: none;
      cursor: pointer;
      
      @include notebook{
        padding: 10px 20px;
        margin-top: 5%;
      }
      @include tablet{
        padding: 8px 15px;
        margin-top: 2%;
      }
      @include mobile{
        margin-right: 0;
      }
      @include mini{
        margin-top: 0;
        font-size: 12px;
      }
      img{
        width: 25px;
        height: 25px;
        @include mini{
          width: 12px;
          height: 12px;
        }
      }
    }
    .icon{
      
        padding-top: 5px;
        font-size: 80px;
        color: rgb(255, 255, 255);
        animation:arrowBlink 2s infinite;
        
        @include tablet{
         font-size: 50px;
        }
        @include mini{
          display: none;
        }

        @include mobile{font-size: 60px;
        padding-left: 0;}


    
    @keyframes arrowBlink {
        100%{
            opacity: 0;
        }
    }
    }
  }
}