@import "../../global.scss";

.greenPart{
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    font-size: 20px;
    width: 100%;
    margin: auto;
    .greenHolder{
        margin-bottom: 10%;
        text-align: center;
        .greenH1Classname{
            font-size: 1.7em; 
            h1{
                font-family: 'Rubik', sans-serif;
                font-weight:800;

            span{
                font-family: 'Rubik', sans-serif;
                font-weight:800;
                color: $mainColor;
            }

            }
        }
        .holder{
            width: 60%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 30px;
            margin: auto;

            @include mini{
                width: 80%;
            }
            @include thousendPx{
                grid-template-columns: 1fr ;
            }
            
            .column1{
        
                .card{
                    margin-top: 10%;
                    box-shadow: 5px 5px 5px black;
                    border-radius: 20px;
                    min-height: 250px;
                    width: 95%;
                    transition: 0.5s ease-in-out;
                    background: linear-gradient(to bottom, rgba(43, 255, 0, 0.623),$mainColor);
                    margin-bottom: 1%;
                    @include tablet{
                        min-height: 350px;
                    }
                    @include thousendPx{
                        min-height: 0;
                    }
                    @include mobile{
                        min-height: 350px;
                    }
                    
                    a{
                        font-family: 'Rubik', sans-serif;
                        margin: auto;
                        width: 80%;
                    }
                    h2{
                        padding-top: 10px;
                        padding-bottom: 10px;
                        width: 80%;
                        margin:auto;
                        font-family: 'Rubik', sans-serif;

                    }
                    @include notebook{
                        h2{
                            font-size: 1.2em;
                        }
                   }
                    



                }
                .card:hover{
                    transform: scale(0.9);
                    
                }
            }
            .column2{
                .card{
                    margin-top: 10%;
                    box-shadow: 5px 5px 5px black;
                    border-radius: 20px;
                    min-height: 250px;
                    width: 95%;
                    transition: 0.5s ease-in-out;
                    background: linear-gradient(to bottom, rgba(60, 255, 0, 0.5),$mainColor);
                    align-items: center;
                    align-content: center;
                    margin-bottom: 1%;
                    @include tablet{
                        min-height: 350px;
                    }
                    @include thousendPx{
                        min-height: 0;
                    }
                    @include mobile{
                        min-height: 350px;
                    }
                    a{
                        font-family: 'Rubik', sans-serif;
                        margin: auto;
                        width: 80%;
                    }
                    h2{
                        padding-top: 10px;
                        padding-bottom: 10px;
                        width: 80%;
                        margin:auto;
                        font-family: 'Rubik', sans-serif;

                    }
                   @include notebook{
                        h2{
                            font-size: 1.2em;
                        }
                   }
                }
                .card:hover{
                    transform: scale(0.9);
                    
                }
            }
        }

    }
    .bottom{
        
        width: 100%;
        background-color: rgb(218, 218, 218);
        margin: auto;
        color: black;
        ul{
            width: 80%;
            
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: auto;

            @include tablet{
                display: grid;
                grid-template-columns: 1fr 1fr;
                width: 100%;
            }
            @include mobile{
                grid-template-columns: 1fr;
            }
            li{
                font-family: 'Rubik', sans-serif;
                font-weight: 500;
                margin: auto;
                margin-bottom: 2%;
                p{
                    font-family: 'Rubik', sans-serif;
                    font-weight: 600;
                    margin-top: 10%;
                    
                }
            }
        }
        
    }
}