@import "../../global.scss";

.greenPart{
  height: 100%;
  width: 100%;
  text-align: center;
  background-image: url("../../assets/waveGreenBig.svg");
  
  align-items: center;
  text-align: center;
  position: relative;
  
  .float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:5%;
    right:5%;
    background-color:#268035;
    color:#FFF;
    border-radius:50px;
    text-align:center;
     font-size:30px;
    box-shadow: 2px 2px 3px rgb(5, 5, 5);
    z-index:100;
}
  
  hr{
    margin-left: 18%;
    width: 60%;
    
  }
  
  .greenHolder{
    background-color: white;
    width: 60%;
    height: 85%;
    margin-left: 18%;
    @include notebook{
      width: 70%;
      margin-left: 12%;
    }
    @include notebook{
      width: 80%;
      margin-left: 10%;
      
    }
    @include mobile{
      width: 100%;
      margin: 0;
      
    }

    .greenH1Classname{
      font-size: 20px;
      span{
        color: #ffffff;
        background-color: #000000;
      }
      @include tablet{
        font-size: 17px;
      }
      @include mobile{
        font-size: 12px;
        
      }
    }
    .holder{
      text-align: center;
      align-items: center;
      align-content: center;
    
      height: 100%;
      @include mobile{
        
      }
 
      :after{
        content: "";
        display: table;
        clear: both;
      }
      .column1{
        float: left;
        width: 33.33%;
        height: 100%;

        @include mobile{
          width: 50%;
          height: 70%;
          
        }
        .card{
          height: 33%;
          align-items: center;
 
          display: flex;
          @include mobile{
            display: block;
            line-height: 15px;            
          }
          a{
            font-family: 'Sora', sans-serif;
            margin-left: 2%;
            margin-right: 2%;
            color: rgb(0, 0, 0);
            border-radius: 25px;

            @include notebook{
              font-size: 13px;
            }
            @include mobile{
              font-size: 11px;
              
            }
          }
        }
      }
      .column2{
          float: left;
        width: 33.33%;
        height: 100%;
        display: grid;
        @include mobile{
          width: 0%;
          height: 30%;
          
          
        }

        
        img{
          margin-top: 0%;
          max-height:100%; max-width:100%;
        }
      }
      .column3{
       
        float: left;
        width: 33.33%;
        height: 100%;
        border: white;
        @include mobile{
          float:right;
          width: 50%;
          height: 70%;
          
          
        }
        .card{
          height: 33%;
          align-items: center;
          display: flex;


          a{
            font-family: 'Sora', sans-serif;
            color: black;
            border-radius: 25px;
            margin-left: 2%;
            margin-right: 2%;
            @include notebook{
              font-size: 13px;
            }
            @include mobile{
              font-size: 11px;
              
            }
          }
          
        }
      }
      
    }

  }
  .bottom{
    width: 60%;
    height: 15%;
    margin-left: 17%;
    background-color: $mainColor;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    @include notebook{
      width: 100%;
      margin: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    a{
      float: left;
      width: 15%;
      margin: 20px;
      padding: 15px 20px;
      border-radius: 9999px;
      background-color: rgb(255, 255, 255);
      font-weight: 300;
      box-shadow: 3px 3px black;
      font-family: "Sora", sans-serif;
      font-size: 14px;
      @include notebook{
        float: none;
      
        
      }
      @include mobile{
        width: 80%;
        margin: 5px;
        font-size: 10px;
        padding: 5px 5px;
      }
      p{
        font-weight: bold;
        font-family: "Sora", sans-serif;

        img{
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}