@import "../../global.scss";
@import "~video-react/styles/scss/video-react"; 
.intro{
    
    //background-image: url("../../assets/Wave.svg");
    background-color: rgb(255, 102, 0);
    background-image: url("../../assets/orangeWave.svg");
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    @include tablet{
        display: grid;

    }
    @include mobile{
        background-image: none;
        background-color: rgb(255, 102, 0);
    }
  

    .content{
        width: 60%;
        height: 100%;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        color: white;

        @include notebook{
            width: 80%;
            
            margin-left: 10%;
            padding: 0;
            
        }
        @include tablet{
            width: 90%;
            margin-left: 5%;
        }
        }

        .icon{
            padding-top: 5px;
            font-size: 80px;
            color: rgb(255, 255, 255);
            animation:arrowBlink 2s infinite;
            
            @include mobile{
            display: none;}
    
    
        }
        @keyframes arrowBlink {
            100%{
                opacity: 0;
            }
        }

        h1{
            font-family: 'Sora', sans-serif;
            font-size: 50px;
            width: 100%;
            margin: auto;
            @include mobile{font-size: 25px;
                padding-left: 0;}
        }
        .mainContent{

            width: 100%;
            height: 100%;
            margin-top: 5%;

            
            .left{
                height: 100%;
                margin-top: 2%;
                width: 50%;
                float: left;
                position:relative;                
                align-items: center;
                justify-content: center;
                align-content: center;
                


                @include mobile{margin: 0;
                    padding-left: 0;
                    height: 30%;
                    width: 100%;
                }
                .videoWrapper {
                    position: relative;
                    padding-bottom: 56.25%; /* 16:9 */
                    height: 0;
                  }
                  .videoWrapper iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                  }

                .iconHolder{
                    margin-top:  10%;
                    margin-left: 90%;
                    @include normalSize{
                        margin-top: 50%;
                        margin-left: 55%;
                    }
                    @include notebook{
                        margin-top: 20%;
                    }
                }
               
                
            }
            .right{
                height: 100%;
                width: 50%;
                float: right;
            
                position:relative;
                @include mobile{margin: 0;
                    padding: 0;
                    height: 70%;
                    width: 100%;
                    
                }
            h3{
                margin-top: 1%;
                font-family: 'Sora', sans-serif;
                font-size: 30px;
                @include mobile{font-size: 25px;
                    padding-left: 0;}
                @include notebook{
                    font-size: 25px;
                    margin-top: 0;
                    color: rgb(255, 255, 255);
                }
                @include mini{
                    font-size: 20px;
                }
            }
            p{
                font-family: 'Sora', sans-serif;
                font-size: 25px;
                line-height: 40px; 

                @include mobile{font-size: 17px;
                    padding-left: 0;
                    color: rgb(255, 255, 255);
                }

                @include notebook{
                    font-size: 18px;
                    line-height: 24px;
                    font-weight: 500;
                }
                @include mini{
                    font-size: 13px;
                }
            }
            .linkToBuy{
                margin-top:3%;
                width: 100%;
                height: 100%;
                padding-top: 5%;
                @include mobile{
                    padding: 0;
                    margin-top: 1%;
                    }

                img{
                    width: 500px;
                    height: auto;
                    @include mobile{
                        width: 100%;
                        height: auto;
                    }
                    @include mini{
                        display: none;
                    }
    
                }
                a{
                    display: inline-block;
                    background-color: #0E699C;
                    text-decoration: none;
                    color: white;
                    padding: 20px 60px;
                    border-radius: 9999px;
                    font-family: "Sora",sans-serif;
                    box-shadow: 3px 3px black;
                    font-size: 20px;
                    @include mobile{font-size: 15px;
                        padding: 10px 30px;}
                    @include mini{
                        margin-top: 10px;
                        font-size: 12px;
                        padding: 8px 20px;
                    }
                }
            }
            }
        }
    }




