@import "../../global.scss";
@import "~video-react/styles/scss/video-react"; 

.intro{
    
    margin-top: 70px;
    background-image: url("../../assets/orangeWave.svg");
    background-color: rgb(255, 102, 0);
    
    @include tablet{
        background-image: none;
    }
    .content{
        font-size: 20px;

        text-align: center;
        ///COPY NEXT 3 LINES FOR OTHER PAGES
        width: 90%;
        max-width: 1000px;
        margin: auto;
        h1{
            font-family: 'Merriweather', serif;
            font-weight: 600;
            font-size: 2em;
        }
        
        .mainContent{
            .icon{
                padding-top: 5px;
                font-size: 80px;
                color: rgb(255, 255, 255);
                animation:arrowBlink 2s infinite;
                
                @include mobile{
                display: none;}
        
        
            }
            @keyframes arrowBlink {
                100%{
                    opacity: 0;
                }
            }
            
            .left{
                background-color: black;
                border-radius: 20px;

                .videoWrapper{
                    iframe{
                        width: 100%;
                        max-width: 1000px;
                    }
                }
            }
            .right{
                width: 100%;

                h3{
                    font-family: 'Merriweather', serif;
                    font-weight: 600;
                    font-size: 1.5em;
                }
                p{
                    font-family: 'Merriweather', serif;
                    
                    font-size: 1.3em;
                    @include mobile{
                        font-size: 1.2em;
                    }
                    @include minMobile{
                        font-size: 1em;
                    }
                }
                .linkToBuy{
                    a{
                        justify-content: center;
                        display: flex;
                        width: 30%;
                        padding: 20px 20px;
                        font-size: 1.3em;
                        margin: auto;
                        background-color: $mainColor;
                        text-decoration: none;
                        color: white;
                        border-radius: 10px;
                        box-shadow: 3px 3px black;
                        font-family: 'Merriweather', serif;
                        

                        @include mobile{
                            font-size: 1.2em;
                        }
                    }
                    img{
                        max-width: 70%;
                        height: auto;
                    }
                }

            }
        }
    }    
}
    
 
                ///
                ///.videoWrapper {
                ///    position: relative;
                ///    padding-bottom: 56.25%; /* 16:9 */
                ///    height: 0;
                ///  }
                ///  .videoWrapper iframe {
                ///    position: absolute;
                ///    top: 0;
                ///    left: 0;
                ///    width: 100%;
                ///    height: 100%;
                ///  }
                  





