@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swa');

$mainColor:#1ea50d;

$width:768px;
$smartphone:500px;
$tablet:1415px;
$notebook:1600px;
$mini:395px;
$normalSize:1930px;
$testSmartphone:800px;
$thousendPx:1000px;
@mixin mobile{
    @media (max-width: #{$width}){
        @content;
    }
}
@mixin mobileHeight{
    @media (max-height: #{$testSmartphone}){
        @content;
    }
}
@mixin minMobile{
    @media (max-width: #{$smartphone}){
        @content;
    }
}
@mixin tablet{
    @media (max-width: #{$tablet}){
        @content;
    }
}
@mixin notebook{
    @media (max-width: #{$notebook}){
        @content;
    }
}
@mixin mini{
    @media(max-width:#{$mini}){
        @content;
    }
}
@mixin normalSize{
    @media(max-width:#{$normalSize}){
        @content;
    }
}
@mixin thousendPx{
    @media(max-width:#{$thousendPx}){
        @content;
    }
}

