@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

$mainColor:#1ea50d;

$width:768px;
$smartphone:500px;
$tablet:1415px;
$notebook:1600px;
$mini:370px;
$normalSize:1930px;
$testSmartphone:800px;

@mixin mobile{
    @media (max-width: #{$width}){
        @content;
    }
}
@mixin mobileHeight{
    @media (max-height: #{$testSmartphone}){
        @content;
    }
}
@mixin minMobile{
    @media (max-width: #{$smartphone}){
        @content;
    }
}
@mixin tablet{
    @media (max-width: #{$tablet}){
        @content;
    }
}
@mixin notebook{
    @media (max-width: #{$notebook}){
        @content;
    }
}
@mixin mini{
    @media(max-width:#{$mini}){
        @content;
    }
}
@mixin normalSize{
    @media(max-width:#{$normalSize}){
        @content;
    }
}

